<header>
    <nav>
        <div>
            <a routerLink="/home" routerLinkActive="active"><img src="Logo.png" alt=""> </a>
        </div>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="/about" routerLinkActive="active">Películas</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Galería</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Curiosidades</a></li>
        </ul>
    </nav>
</header>
