<section id="home">
    <div>

    </div>
    <article>
        <h2>En una galaxia muy, muy lejana...</h2>
        <p>existen historias, personajes y momentos épicos que han marcado generaciones. Aquí, en Forcepedia, te invitamos a explorar el universo de Star Wars de una manera única y envolvente.
        </p>
        <ul>
            <li>Películas icónicas – Descubre la saga completa con detalles de cada episodio.</li>
            <li>Personajes legendarios – Desde Jedi y Sith hasta droides y cazarrecompensas.</li>
            <li>Galería exclusiva – Imágenes y arte de la saga en alta calidad.</li>
            <li>Datos curiosos – Secretos y detalles que solo los verdaderos fans conocen.</li>
        </ul>
        <span>Que la fuerza te acompañe...</span>
    </article>
</section>